/* 버튼 스타일 */
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head+body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head+body .ui-btn.ui-btn-a:visited {
    border: none;
    background-color: #ffffff;
    box-shadow: none;
    /* width: 310px; */
    height: 40px;
    margin: 2px auto 0;
    color: #9D9D9D;
    font-weight: 400;
}

.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head+body .ui-btn.ui-btn-a:hover {
    border: none;
}

/* 바 스타일 */
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
    background: #ffffff;
    border: none;
    font-weight: 300;
}

/* 컨텐츠 영역 스타일 */
.ui-content {
    padding: 0;
    overflow-y: hidden;
}

/* 헤더 & 푸터 스타일 */
.ui-header .ui-title,
.ui-footer .ui-title {
   
}

.ui-btn-left,
.ui-btn-right {
    top: 1em;
}

.ui-header-fixed .ui-btn-left,
.ui-header-fixed .ui-btn-right {
    margin-top: 0;
}

/* 페이지 패딩 조정 */
.ui-page .ui-page-theme-a .ui-page-header-fixed .ui-page-footer-fixed .ui-page-active {
    padding: 70px 0 58px;
}

select{background-color: none;}

/* 선택 박스 스타일 */
#language-box .ui-select {
    border: 1px solid #dddddd;
    border-radius: 50px;
    width: 343px;
    height: 51px;
}

#language-box .ui-select select {
    color: #333;
    font-weight: bold;
}

#language-box .ui-btn-icon-notext:after,
#language-box .ui-btn-icon-left:after,
#language-box .ui-btn-icon-right:after {
    margin-top: -9px;
}

#language-box .ui-btn-icon-left {
    background: url(../img/icon/language.png);
}

#language-box .select_box > img {
    position: absolute;
    z-index: 2;
    top: 18px;
    left: 15px;
}

/* 기타 */
.ui-page-theme-a .ui-body-inherit {
    border: none;
}

.ui-header .ui-bar-inherit .ui-header-fixed .slidedown,
.ui-header .ui-bar-inherit .ui-header-fixed .slidedown .ui-fixed-hidden {
    border: none;
}



#select-6-button.ui-btn{width:310px;}
/* #language-box .ui-page-theme-a #language-box .ui-btn{width:310px;} */

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{background-color:#fff;}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{text-shadow:none;}

.ui-btn-left, .ui-btn-right{top:0px;}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited{    text-shadow:none;}

.ui-header .ui-title, .ui-footer .ui-title{padding: 1em 0;}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{text-shadow:none;}


